<%= render 'shared/flashes' %>

<div class="our-smoothies-banner"></div>
<div class="customer-vitals-subscription text-center">
  <h4>My <u><%= @status %></u> Subscription:</h4>
  <ul>
  <div class="confirmation-page">
    <h3>My nutrition</h3>
    <p>So Clarissa. You told us that you are a girl age 25. You are 160cm tall and weigh 65kg. On most weekdays you eat 4 meals. You say you are moderately active and your current goal is to boost your health.</p>
    <p>Based on this our clever nutrition computer has calculated that...</p>
  </div>




Fact 2: Your body uses 2030Calories of energy to get you through an average day!  This is the above plus the energy you use to walk, move, run and exercise. It’s called your Total Daily Energy Expenditure (TDEE)
Fact 3: To gain weight you should aim to consume around 2450Calories each day. This is 10% more than your body needs so if you exercise with heavy weights it will use the surplus to build your muscles. If not it may store it as fat|
If you have 4 meals per day this is about 610 Calories each meal.
Simply swap out one of these meals for a muscle building yoggie custom!

✔ Tastes superb!
✔ Gives you 610 micronutrient dense Calories
✔  High protein macronutrient (protein, carbs & fats) ratio specially tweaked to promote muscle gain

Insert button: [pick your yoggies]; path: Pick your yoggies (custom)
  </ul>
</div>
<div class="cancel-order-buttons">
</div>

