.choose-smoothies-wrapper {
	padding: 130px 5% 0 5%;
}
.edit_basket {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    input, select, textarea {
        margin-top: 10px;
    } 
    p {
    	padding: 30px;
    }
}
.smoothie-quantity-image {
	padding: 0 44px;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.yoggie-add {
	display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
