.contact {
	display: flex;
	justify-content: center;
}
.contact-section {
	padding-top: 20px;
	max-width: 700px;
	p {
 		color: $green;
 		font-weight: lighter;
 		margin-top: 30px;
 		margin-bottom: 0;
 	}
 	a {
 		color: $pink;
 		text-decoration: none;
 		opacity: 0.8;
 	}
 	a:hover {
 		color: $pink;
 		opacity: 1;
 	}
}