.contact {
	display: flex;
	justify-content: center;
}
.contact-section {
	padding-top: 20px;
	max-width: 700px;
	h4 {
		color: $pink;
	}
	p {
 		color: $grey;
 		font-weight: lighter;
 		margin-top: 30px;
 		margin-bottom: 0;
 	}
 	a {
 		color: $green;
 		text-decoration: none;
 		opacity: 0.8;
 	}
 	a:hover {
 		text-decoration: underline;
 	}
}
.about-content {
	margin: 10px 20px;
	max-width: 600px;
}
.about-section {
	max-width: 1000px;
	p {
		text-align: left;
	}
	img {
		width: 300px;
		float: left;
		margin: 0 10px 10px 10px;
	}
}
@media only screen and (max-width: 340px){
	.about-section {
		p {
			max-width: 300px;
		}
	}
}