.faqs {
	margin-top: 40px;
	display: flex;
    flex-direction: column;
    align-items: center;
	h2 {
		padding-bottom: 30px;
		padding-top: 30px;
	}
}
.faqs-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	max-width: 1000px;
	border: solid 2px $border;
	h4 {
		color: $green;
		width: 150px;
	}
	p {
 		color: $pink;
 		font-weight: lighter;
 		margin-bottom: 0;
 	}
 	a {
 		color: $green;
 	}
}
.faqs-sub-section {
	padding: 5px;
	h3 {
		width: 260px;
	}
}
.faqs-right-column {
	display: flex;
	flex-direction: column;
	border-left: solid 2px $lighter-grey;
}
.faqs-right-content {
	border-bottom: solid 2px $lighter-grey;
	display: flex;
	flex-direction: row;
	padding: 20px;
}
.faqs-question {
	padding: 20px;
	text-align: left;
}
.faqs-answer {
	text-align: left;
	padding: 30px 10px;
}