//PICK PLAN SECTION
.pick-plan-section{
	background-color: $lighter-grey;
}
.pick-plan-title {
	text-align: center;
	margin-top: 50px;
}
.pick-plan {
	display: flex;
	justify-content: center;
	margin: 0px 20px;
	padding-left: 50px;
    padding-right: 50px;
	h2 {
		margin-bottom: 15px;
		margin-top: 30px;
	}
	p {
		font-weight: lighter;
		margin-bottom: 20px;
	}
	ul {
		margin-top: 10px;
		font-weight: lighter;
		padding-left: 14px;
		text-indent:-20px;
	}
	img {
		width: 385px;
		height: auto;
		border-radius: 3px;
		margin: 30px 30px 0 30px;
	}
}
.yoggie-standard {
	width: 500px;
	margin: 30px;
	background-color: $light-grey;
	border-radius: 5px;
}
.yoggie-standard-text {
	padding: 10px 30px 40px 40px;
}
.yoggie-standard:hover {
	background-color: $pink;
    transition: background-color 0.8s ease;
    h3, p, ul { 
    	color: white;
    }
	.btn-yoggie-main-clear {
		background-color: $green;
		color: white;
	}
}
.yoggie-custom {
	width: 500px;
	margin: 30px;
	background-color: $light-grey;
	border-radius: 5px;
}
.yoggie-custom-text {
	padding: 10px 30px 40px 40px;
}
.yoggie-custom:hover {
	background-color: $pink;
	color: white;
	transition: background-color 0.8s ease;
	h3, p, ul { 
    	color: white;
    }
	.btn-yoggie-main-clear {
		background-color: $green;
		color: white;
	}
}

// OLD ABOUT 
// .about-our-yoggies {
// 	margin-top: 20px;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	align-content: center;
// 	align-items: center;
// 	img {
// 		width: 80%;
// 		height: auto;
// 		margin-bottom: 50px;
// 	}
// }


// ABOUT YOGGIE SECTION
.about-yoggie {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: left;
	align-items: center;
	h4 {
		color: $grey;
		font-size: 20px;
	}
}
.what-is-yoggie {
	display: flex;
	margin: 20px;
	img {
		width: 50vw;
		max-width: 600px;
		margin: 0 20px;
	}
}
.about-content {
	margin: 10px 20px;
	max-width: 600px;
}


//TESTIMONIALS SECTION
.testimonials-section {
	padding-top: 50px;
	h2 {
		text-align: center;
	}
}
.testimonials {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}
.testimonial {
	border-radius: 15px;
	width: 250px;
	height: 186px;
	padding: 20px 10px 0px 20px;
	margin: 20px 7px 40px 7px;
	span {
		text-align: left;
		font-size: 14px;
		font-weight: bold;
	}
	p {
		font-weight: lighter;
	}
}
.testimonial-orange {
	border: 2px dotted $orange;
}
.testimonial-blue {
	border: 2px dotted $blue;
}
.testimonial-red {
	border: 2px dotted $red;
}
.testimonial-green {
	border: 2px dotted $green;
}


//YOGGIE BENEFITS SECTION
.yoggie-benefits {
	color: $dark-grey;
	text-align: left;
	height: 840px;
	width: 100%;
	background-size: cover !important;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.yoggie-benefits-content {
  background-color: $lighter-grey;
  padding: 40px 60px;
  border-radius: 5px;
  margin: 2vw;
  text-align: center;
  width: 90%;
  p {
  	margin-top: 10px;
  	font-weight: lighter;
  }
}
.benefits-row {
	display: flex;
	justify-content: center;
}
.benefits-icons {
	padding: 15px;
	width: auto;
	img {
		margin: 20px 0;
		height: 62px;
	}
}

//HOW IT WORKS SECTION
.how-it-works-section {
	margin-top: 20px;
	margin-bottom: 40px;
	position: relative;
	h4 {
		margin-top: 30px;
	}
	img {
		width: auto;
	    height: 62px;
	    border-radius: 10px;
	}
}
.how-it-works {
	display: flex;
	justify-content: center;
	padding: 0 50px;
}
.how-it-works-icons {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	margin: 30px;
}
.border-fade img {
	width: 100%;
}
