.yoggie-intro {
	display: flex;
	justify-content: center;
	align-items: center;
	h2 {
		font-weight: lighter;
		margin-bottom: 22px;
	}
	p {
		font-weight: lighter;
		margin-bottom: 20px;
	}
	ul {
		margin-top: 10px;
		font-weight: lighter;
		padding-left: 14px; 
	}
}
.intro-standard-section {
	img {
		width: 450px;
	    margin: 36px 90px 0 0;
	    height: 365px;
	    border-radius: 4px;
	}
}
.intro-tailored-section {
	margin-top: 95px;
	img {
		width: 450px;
	    margin-left: 80px;
	    height: 365px;
	    border-radius: 4px;
	    margin-top: 28px;
	}
}
.intro-standard-yoggie {
	width: 400px;
}
.intro-tailored-yoggie {
	width: 400px;
	margin-left: 50px;
}
.how-it-works-section {
	position: relative;
	background-color: #F7F7F7;
}
.how-it-works {
	h2 {
		font-weight: lighter;
	}
	img {
		width: 436px;
	    height: auto;
	    border-radius: 10px;
	}
}
.border-fade img {
	width: 100%;
}
.how-it-works-recipe {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: right;
	margin-right: 95px;
	height: 300px;
}
.how-it-works-deliver {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	height: 300px;
	img {
		margin-right: 35px;
	}
}
.how-it-works-making {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: right;
	margin-right: 33px;
	height: 300px;
	img {
		margin-left: 70px;
		width: 338px;
	}
}
.how-it-works-text {
	width: 400px;
	p {
		font-weight: lighter;
	}
}
.about-our-yoggies {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	h2 {
		font-weight: lighter;
	}
	img {
		width: 70%;
		height: auto;
		margin-top: 64px;
		margin-bottom: 50px;
	}
}
.your-box {
	background-image: url("http://res.cloudinary.com/dqxvcdy6w/image/upload/v1516711519/Asset_3_wfzioj.png");
	color: #393939;
	text-align: center;
	height: 857px;
	width: 100%;
	background-size: cover !important;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: left;
}
.your-box-content {
  background-color: white;
  background: rgba(255, 255, 255, 0.7);
  padding: 60px;
  border-radius: 15px;
  width: 530px;
  margin-left: 8vw;
  text-align: left;
  h2 {
  	font-weight: lighter;
  }
  p {
  	margin-top: 40px;
  }
  ul {
  	padding-left: 14px;
  	font-weight: lighter;
  }
}
.testimonials-section {
	h2 {
		text-align: center;
		font-weight: lighter;
	}
}
.testimonials {
	display: flex;
	align-items: center;
	justify-content: center; 
	align-content: center;
}
.testimonial {
	border-radius: 15px;
	width: 250px;
	padding: 20px 10px 0px 20px;
	margin: 40px 7px;
	span {
		text-align: center;
		font-size: 14px;
		font-weight: bold;
	}
	p {
		font-weight: lighter;
	}
}
.testimonial-orange {
	border: 2px dotted #F77449;
}
.testimonial-blue {
	border: 2px dotted #1DA8CB;
}
.testimonial-red {
	border: 2px dotted #FB0039;
}
.testimonial-green {
	border: 2px dotted #0D6D5B;
}
@media only screen and (max-width: 1000px){
	.yoggie-intro {
		flex-wrap: wrap;
		padding: 0;
	}
	.intro-standard-section img {
		width: 95%;
    	margin: 0;
    	height: auto;
	}
	.intro-standard-yoggie {
		justify-content: left;
		width: 90%;
		margin-left: 50px;
	}
	.intro-tailored-section {
		flex-direction: column-reverse;
		img {
			width: 95%;
	    	margin: 0;
	    	height: auto;
	    }
	}
	.intro-tailored-yoggie {
		justify-content: left;
		width: 90%;
	}
	.how-it-works-recipe {
		flex-direction: column-reverse;
		text-align: center;
		margin-right: 0;
		height: auto;
		h4 {
			margin-top: -10px;
		}
	}
	.how-it-works-deliver {
		flex-direction: column;
		text-align: center;
		height: auto;
		img {
			margin-right: 0;
			margin-top: -50px;
		}
		h4 {
			margin-top: -65px;
		}
	}
	.how-it-works-making {
		flex-direction: column-reverse;
		text-align: center;
		margin-right: 0;
		margin-top: 50px;
		height: auto;
		img {
			margin-left: 0;
			width: 338px;
		}
		h4 {
			margin-top: 10px;
		}
	}
	.your-box {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.your-box-content {
	  width: 90%;
	  margin-left: 0;
	  text-align: left;
	  p {
	  	margin-top: 40px;
	  }
	  ul {
	  	padding-left: 14px;
	  }
	}
	.testimonials {
		flex-direction: column;
		margin-top: 40px;
	}
	.testimonial {
		display: flex;
		justify-content: center;
		width: 90%;
		margin: 20px 0 0 0;
	}
}






