//PICK PLAN SECTION
.pick-plan-title {
	text-align: center;
	margin-top: 60px;
}
.pick-plan {
	display: flex;
	justify-content: center;
	margin: 0px 20px;
	h2 {
		margin-bottom: 15px;
		margin-top: 30px;
	}
	p {
		font-weight: lighter;
		margin-bottom: 20px;
	}
	ul {
		margin-top: 10px;
		font-weight: lighter;
		padding-left: 14px;
	}
	img {
		width: 385px;
		height: auto;
		border-radius: 3px;
		margin: 30px 30px 0 30px;
	}
}
.yoggie-standard {
	width: 500px;
	margin: 30px;
	background-color: #f1f1f1;
	border-radius: 5px;
}
.yoggie-standard-text {
	padding: 10px 30px 40px 40px;
}
.yoggie-standard:hover {
	background-color: #E6577A;
	color: white;
  transition: background-color 0.8s ease;
	.btn-yoggie-main-clear {
		background-color: #91B060;
		color: white;
	}
}
.yoggie-custom {
	width: 500px;
	margin: 30px;
	background-color: #f1f1f1;
	border-radius: 5px;
}
.yoggie-custom-text {
	padding: 10px 30px 40px 40px;
}
.yoggie-custom:hover {
	background-color: #E6577A;
	color: white;
	.btn-yoggie-main-clear {
		background-color: #91B060;
		color: white;
	}
}

//HOW IT WORKS SECTION
.how-it-works-section {
	position: relative;
	background-color: #F7F7F7;
	h4 {
		margin-top: 30px;
	}
	p {
		font-weight: lighter;
	}
	img {
		width: auto;
	    height: 62px;
	    border-radius: 10px;
	}
}
.how-it-works {
	display: flex;
	justify-content: center;
	padding: 0 50px;
}
.how-it-works-icons {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	margin: 30px;
}
.border-fade img {
	width: 100%;
}

//ABOUT SECTION
.about-our-yoggies {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	img {
		width: 80%;
		height: auto;
		margin-bottom: 50px;
	}
}
//YOGGIE BENEFITS SECTION
.yoggie-benefits {
	color: #393939;
	text-align: left;
	height: 840px;
	width: 100%;
	background-size: cover !important;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.yoggie-benefits-content {
  background-color: #F7F7F7;
  padding: 40px 60px;
  border-radius: 5px;
  margin: 2vw;
  text-align: center;
  width: 90%;
  p {
  	margin-top: 10px;
  	font-weight: lighter;
  }
}
.benefits-row {
	display: flex;
	justify-content: center;
}
.benefits-icons {
	padding: 15px;
	width: auto;
	img {
		margin: 20px 0;
		height: 62px;
	}
}


//TESTIMONIALS SECTION
.testimonials-section {
	padding-top: 50px;
	h2 {
		text-align: center;
	}
}
.testimonials {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}
.testimonial {
	border-radius: 15px;
	width: 250px;
	height: 186px;
	padding: 20px 10px 0px 20px;
	margin: 20px 7px 40px 7px;
	span {
		text-align: left;
		font-size: 14px;
		font-weight: bold;
	}
	p {
		font-weight: lighter;
	}
}
.testimonial-orange {
	border: 2px dotted #F77449;
}
.testimonial-blue {
	border: 2px dotted #1DA8CB;
}
.testimonial-red {
	border: 2px dotted #FB0039;
}
.testimonial-green {
	border: 2px dotted #0D6D5B;
}
@media only screen and (max-width: 1000px){
	.pick-plan {
	    flex-direction: column;
	    align-items: center;
	}
	.pick-plan img {
		width: 552px;
	}
	.yoggie-standard {
    	width: 615px;
    }
	.yoggie-custom {
    	width: 615px;
    }
	.yoggie-benefits {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.yoggie-benefits-content {
	  width: 90%;
	  margin-left: 0;
	  text-align: left;
	  p {
	  	margin-top: 40px;
	  }
	  ul {
	  	padding-left: 14px;
	  }
	}
	.testimonials {
		flex-direction: column;
		margin-top: 40px;
	}
	.testimonial {
		display: flex;
		justify-content: center;
		width: 90%;
		margin: 20px 0 0 0;
	}
}






