.privacy-terms {
	margin-bottom: 40px;
	h2 {
		text-align: center;
	}
	h4 {
		color: $pink;
	}
	p {
		font-weight: lighter;
		padding-bottom: 30px;
	}
	li {
		font-weight: lighter;
	}
	span {
		font-weight: bold;
	}
	a {
		color: $green;
	}
	a:hover {
		color: $green;
		text-decoration: underline;
	}
}