.privacy-terms {
	margin-bottom: 40px;
	h2 {
		text-align: center;
	}
	h4 {
		color: #E6577A;
	}
	p {
		font-weight: lighter;
		padding-bottom: 30px;
	}
	span {
		color: #91B060;
	}
	a {
		color: black;
		text-decoration: underline;
	}
}