.results-wrapper {
	padding: 20px 30px 20px 40px;
    margin: 3% 20%;
	background-color: #F7F7F7;
	display: flex;
	flex-direction: column;
	align-items: center;
	h3 {
		padding-top: 20px;
	}
}
.results-yoggie {
	margin: 10px;
	border-radius: 5px;
	background-color: #f0f0f0;
	border: solid 1px #e1e1e1;
	width: 288px;
	display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
	img {
		padding: 30px 40px 20px 40px;
		width: 100%;
	}
}
.results-content {
	padding-top: 15px;
	justify-content: center;
	align-content: center;
	display: flex;
    flex-direction: column;
    align-items: center;
	h5 {
		margin-bottom: 30px;
		margin-bottom: 30px;
	}
	span {
		font-weight: normal;
	}
	p {
		font-weight: lighter;
		text-align: center;
    	color: black;
	}
	p:hover {
		text-decoration: none;
	}
}
.results-line {
	width: 100%;
	border-top: 1px solid #333333;
	margin-top: 40px;
	margin-bottom: 20px;
}
.your-results {
	color: #91B060;
}
.results-button {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
