.review-order-wrapper {
	padding: 120px 30px 20px 40px;
    margin: 0 20% 3% 20%;
	background-color: #F7F7F7;
	display: flex;
	flex-direction: column;
	align-items: center;
	h3 {
		padding-top: 20px;
		color: #91B060;
		font-weight: bold;
	}
	ul {
		padding-left: 0;
	}
	h4 {
		color: #E6577A;
		font-weight: bold;
	}
	p {
		font-weight: lighter;
	}
	a {
		color: #91B060;
		font-weight: lighter;
		font-size: 14px;
	}
}

.order-details{
  position: relative;
  i {
    font-size: 15px;
    font-weight: lighter;
    position: absolute;
    top: 112px;
    padding-left: 5px;

  }
  span {
    padding-right: 8px;
  }
}
