.our-smoothies {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}
.standard-yoggie {
	margin: 10px;
	border-radius: 10px;
	background-color: #f0f0f0;
	border: solid 0.5px #e1e1e1;
	img {
		width: auto;
		padding: 40px;
	}
}
.standard-yoggie-content {
	background-color: white;
	text-align: center;
	padding: 10px 1px 30px 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	border-radius: 0 0 10px 10px ;
}