.customer-vitals-wrapper {
	padding: 40px 40px 0 40px; 
	background-color: #f7f7f7;
	height: auto;
	position: absolute;
    top: 136px;
    right: 0;
    left: 0;
    bottom: 0;
    min-height: 757px;
	h2 {
		margin-bottom: 24px;
	}
	h3 {
		color: #343434;
		font-size: 23px;
	}
	h4 {
		font-weight: bold;
		color: white;
		padding-bottom: 15px;
	}
	p {
		font-weight: lighter;
		color: white;
	}
	ul  {
		padding-left: 0;
	}
	span {
		color: #CDDBB6;
	}
	i {
		color: #91B060;
		margin-left: 10px;
		margin-right: 10px;
	}
	a {
		color: white;
		font-weight: lighter;
		font-size: 15px;
		text-decoration: underline;
	}
	label {
		color: white;
	}
}
.customer-vitals {
	display: flex;
	justify-content: center;
	align-content: center;
}
.customer-vitals-details {
	padding: 0 85px;
    width: 50%;
    border-right: solid 1px white;
    background-color: #E6577A;
    padding: 40px;
    border-top-left-radius: 5px;
}
.customer-vitals-nutrition {
	padding: 0 85px;
    width: 50%;
    background-color: #E6577A;
   	padding: 40px;
   	border-top-right-radius: 5px;
}
.customer-vitals-subscription {
	background-color: #E6577A;
	border-top: solid 1px white;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	padding: 40px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	p {
		color: white;
		font-weight: lighter;
		font-size: 15px;
	}
}


