.customer-vitals-wrapper {
	background-color: $pink;
}
.customer-vitals-box {
	padding: 90px 40px 0 40px;
	background-color: white;
	height: auto;
    min-height: 100%;
    margin: 0 40px;
	h2 {
		margin-bottom: 20;
		color: $green;
	}
	h3 {
		font-size: 23px;
		margin-top: 0;
		opacity: 0.8;
	}
	h4 {
		font-weight: normal;
		padding-bottom: 15px;
	}
	p {
		font-weight: lighter;
	}
	ul  {
		padding-left: 0;
	}
	span {
		color: $pink;
		font-size: 18px;
	}
	i {
		color: $green;
		margin-left: 10px;
		margin-right: 10px;
	}
	a {
 		color: $green;
 		text-decoration: none;
 		opacity: 0.8;
 		font-size: 15px;
 		letter-spacing: 0px;
 		font-weight: lighter;
 	}
 	a:hover {
 		color: $green;
 		opacity: 1;
 		text-decoration: underline;
 	}
	label {
		color: white;
	}
}
.customer-vitals {
	display: flex;
	justify-content: left;
	align-content: left;
  	background-color: $lighter-grey;
}
.customer-vitals-details {
	padding: 0 85px;
    width: 50%;
    background-color: $lighter-grey;
    padding: 40px;
    border-top-left-radius: 5px;
    border-right: 1px solid $border;
}
.customer-vitals-nutrition {
	padding: 0 85px;
    width: 50%;
    background-color: $lighter-grey;
   	padding: 40px;
   	border-top-right-radius: 5px;
}
.customer-vitals-subscription {
	background-color: $lighter-grey;
	border-top: solid 1px white;
	display: flex;
	justify-content: left;
	flex-direction: column;
	align-content: left;
	padding: 40px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	p {
		color: $grey;
		font-weight: lighter;
		font-size: 18px;
	}
}
.small-font {
  font-size: $font-size-confirmation;
}
.my-account-title {
	padding-bottom: 0;
	a {
		color: #6F6F6F;
		font-size: 18px;
		text-decoration: underline;
	}
}

