<div class="postcode-wrapper text-center">
	<h2>Disaster! We don’t deliver to you… yet.</h2>
	<p>However, we are ever expanding. Join our mailing list below and we promise we’ll let you know when we start delivering to your street.</p><br>
	<%= simple_form_for @user do |f| %>
	  <br>
	  <%= f.input :newsletter %><br>
	  <%= f.submit 'LET ME KNOW', class: "btn-yoggie-main-green" %>
	<% end %>
</div>