<div class="our-smoothies-banner"></div>
<div class="contact section-padding text-center">
	<div class="contact-section">
		<h2>About</h2>
		</br>
		<h4>Our Mission</h4>
		<p>Give you a delicious daily breakfast that is super quick, super healthy and nutritionally balanced to your body.<br></p>
		<br>
		<h4>Our Story</h4>
		<p>I started my career as a lawyer in the city. Working long hours I was always in a rush in the morning so no time for a proper breakfast! Most days I ended up grabbing a sandwich or yoghurt pot en route in.<br></br>
		So I set out to create a ‘perfect breakfast smoothie’ that was not only rammed with superfoods and had exactly the right balance of protein, carbs, ‘good fats’ and calories my body needed each morning but also tasted great - my morning treat!<br></br>
		Several months, spreadsheets and burned out NutriBullets later I had my recipes! Initially I’d make them each morning, measuring out each ingredient into the blender. However this took ages as most smoothies had over 10 ingredients.<br></br>
		To speed things up, at the weekend I’d weigh out the ingredients for my week’s 5 smoothies into 5 plastic cups and pop in freezer.<br></br>
		Each morning I’d just grab a cup from the freezer, empty it into NutriBullet, add water and milk, whizz up, bring with me into work and drink as I was checking my emails (or reading MailOnline...!).<br></br>
		After a while doing this I found that my mood and energy levels improved. Chums and colleagues started wanting them too so I’d adjust the recipes to their bodies & goals and send on.</p>
	</div>
</div>
<br></br>

