<div class="our-smoothies-banner"></div>
<div class="contact section-padding text-center">
	<div class="contact-section about-section">
		<h2>About</h2>
		</br>
		<h4>Our Mission</h4>
		<p>Give you a delicious daily breakfast that is super quick, super healthy and nutritionally balanced to your body.<br></p>
		<br>
		<h4>Our Story</h4>
		<p>I’m a nutritionist though I used to be a lawyer in the city. Working long hours I was always in a rush in the morning so no time for a proper breakfast! Most days I ended up grabbing a sandwich or yoghurt pot en route in and felt tired, groggy and grumpy. <br></br>
		<%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1579540075/image001_g8wppd.png" %>Eventually I realised I needed to make a serious change (and lose some weight…). So I decided to create a ‘Perfect Breakfast Smoothie’ that tasted great, rammed with superfoods with exactly the right balance of protein, carbs, ‘good fats’ and calories my body needed to kick off the day.
		It took several months, fails and burned out NutriBullets to develop recipes. I found using ingredients frozen at source both tastier and healthier (the delicate micronutrients stay locked in till you blend so you get 100% of the goodness).<br></br>
		Making one every morning took ages as each has over 10 ingredients. To speed things up, each weekend I’d weigh out the ingredients for my week’s 5 smoothies into 5 plastic cups and pop in freezer. Each morning I’d grab a cup from the freezer, empty it into blender, add water and milk, whizz up and bring with me into work.<br></br>
		This was easy to follow, even for me (I was never great with good habits…). The weight came off and my mood and energy levels quickly improved.  When I told friends and colleagues they asked if I could also make smoothies for them.<br></br>
		I’d tweak the recipes so the calories, protein, fats & carbs suited their individual metabolisms and goals. Soon they were recommending my smoothies to their friends and colleagues and as the orders grew I started Yoggie.co.uk in Battersea, London, in 2019.<br></br>
		Just answer <%= link_to "7 questions online", new_customer_path %> (height, weight, any goals etc.) in 26 seconds and we instantly create delicious personalised smoothie recipes for you - your perfect breakfast! Pick which ones you’d like and we’ll prepare and deliver your mix packs to you each week.<br></br>
		We all like to treat ourselves a little in the morning to set us up for the day. Yoggie is a way we can do so and give our bodies exactly what they need to make us happier & healthier!
		<br></br>
		Enjoy.<br></br>
		Charlie
</p>
	</div>
</div>
<br></br>

