<div class="our-smoothies-banner"></div>
<div class="contact section-padding text-center">
	<div class="contact-section">
		<h2>Fancy A Chat?</h2>
		<p>Drop us a line. We man phones and email from 9 to 5 weekdays.<br></br>
		Or check out our <%= link_to "FAQs.", "http://yoggie.herokuapp.com/faqs" %> We update them all the time.</p>
		<br>
		<h4>Email us</h4>
		<p><%=link_to "theteam@yoggie.co.uk", "mailto:theteam@yoggie.co.uk" %></p>
		<br>
		<h4>Chat with us</h4>
		<p><%=link_to "020 3627 3852", "020 3627 3852" %></p>
	</div>
</div>
<br></br>

