<div class="our-smoothies-banner"></div>
<div class="faqs section-padding text-center">
	<h2>Frequently Asked Questions</h2>
	<div class="faqs-section">
		<div class="faqs-sub-section">
			<h3>How Yoggie Works</h3>
		</div>
		<div class="faqs-right-column">
			<div class="faqs-right-content">
				<div class="faqs-question">
					<h4>What is a 'yoggie'?</h4>
				</div>
				<div class="faqs-answer">
					<p>A frozen ingredient mix pack for a delicious smoothie that you have as a meal with 100% complete nutrition.</p>
				</div>
			</div>
			<div class="faqs-right-content">
				<div class="faqs-question">
					<h4>What is a ‘yoggie custom’?</h4>
				</div>
				<div class="faqs-answer">
					<p>Same as above but you tell us <%= link_to"7 things", new_customer_path %> about you & your goals so we can tailor the recipes to you so that each smoothie provides exactly the right protein, carbs, fats and calories you need.</p>
				</div>
			</div>
			<div class="faqs-right-content">
				<div class="faqs-question">
					<h4>Is there actually any yoghurt in yoggie?</h4>
				</div>
				<div class="faqs-answer">
					<p>Nope. But you can add some if you like. Tastes fab.</p>
				</div>
			</div>
			<div class="faqs-right-content">
				<div class="faqs-question">
					<h4>Why are you called yoggie?</h4>
				</div>
				<div class="faqs-answer">
					<p>yoggie founder Charlie: In 2016 I started making smoothie mix packs for my friends’ children. My friend Elie’s boys Guy & Louis (5 & 3) refused drink them as they were 'too bitty’. One day she made them thicker. Following careful inspection, Guy asked her if it was ‘yoggie’. She said yes. Suddenly they loved them. And the name stuck.</p>
				</div>
			</div>
			<div class="faqs-right-content">
				<div class="faqs-question">
					<h4>Is yoggie nice? And healthy?</h4>
				</div>
				<div class="faqs-answer">
					<p>Priority 1 for us, the Yoggie Team, is to blow your mind with deliciousness. Priority 2 is to make it super-good for you. In fact it would make our lives much simpler without Priority 2. But our Founder, Charlie, is a Nutritionist and seems to think it’s important. If we argue he start preaching about things like micronutrients, macronutrients, blah blah…  so yes, it’s like totally healthy.</p>
				</div>
			</div>
			<div class="faqs-right-content">
				<div class="faqs-question">
					<h4>How do I make yoggie?</h4>
				</div>
				<div class="faqs-answer">
					<p>Empty entire yoggie pack into blender (straight from freezer). Add about 200ml (this varies) of water (or milk or soya or almond milk or yoghurt or juice - whatever you like!). Blend.</p>
				</div>
			</div>
			<div class="faqs-right-content">
				<div class="faqs-question">
					<h4>How should I have yoggie?</h4>
				</div>
				<div class="faqs-answer">
					<p>However you like! Most yoggsters blitz into a drink then have immediately or put into thermos/shaker for later. Many blend with less water for a thicker (yoghurt like) texture and eat from bowl, sprinkled with fresh fruit, nuts, seeds, granola for crunch.</p>
				</div>
			</div>
			<div class="faqs-right-content">
				<div class="faqs-question">
					<h4>Can I have yoggie instead of a meal?</h4>
				</div>
				<div class="faqs-answer">
					<p>Absolutely. Yoggie is designed as a tastier, quicker and (much) healthier breakfast, lunch or dinner.</p>
				</div>
			</div>
			<div class="faqs-right-content">
				<div class="faqs-question">
					<h4>What is in a yoggie?</h4>
				</div>
				<div class="faqs-answer">
					<p>Yoggie recipes contain between seven and twenty four 100% natural ingredients to make them taste great and give you exactly the right balance of carbs, protein and good fats. Most have each of the following:</br>
					<strong>Fruit</strong> - for tangy sweetness and micronutrient hit</br>
					<strong>Milled seeds</strong> - for a bit of crunch plus omega 3 and omega 6 (great for head and heart)</br>
					<strong>Grain</strong> - for texture & crunch and slow-release carbs to keep you going longer</br>
					<strong>Superfoods</strong> - natural superfood pellets to cram each yoggie with goodness</br>
					<strong>Natural protein source</strong> - to give your body what it needs to function and suppress hunger pangs</br>
					<strong>Vegetable</strong> - to balance sweetness of fruit and give you lots of natural vitamins & minerals</br>
					<strong>Good fats sources</strong> - such as nuts/avocado turn taste to 11 and provide omega 9 (hormone helpers!)</p>
				</div>
			</div>
			<div class="faqs-right-content">
				<div class="faqs-question">
					<h4>When should I have it?</h4>
				</div>
				<div class="faqs-answer">
					<p>Most people have it for breakfast but you can have it whenever you like. Our founder Charlie whizzes his up in the morning, puts in a thermos and drinks at midday every day.</p>
				</div>
			</div>
			<div class="faqs-right-content">
				<div class="faqs-question">
					<h4>Can I buy more than 5 per week per person?</h4>
				</div>
				<div class="faqs-answer">
					<p>Yes. We can add up to 3 additional yoggie packs to your box no problem.
					Yoggie: £4.80 per pack
					Custom yoggie: £8.50 per pack
					To do this just call us on <%= link_to "020 3627 3852", "#" %> or shoot an email to <%= link_to "theteam@yoggie.co.uk", "mailto:theteam@yoggie.co.uk" %>.<br>
					(Sorry - we are working on website so in future you will be able do this quickly online.) In meantime we promise to respond quickly and sort it for you!)</p>
				</div>
			</div>
			<div class="faqs-right-content">
				<div class="faqs-question">
					<h4>How much do they cost?</h4>
				</div>
				<div class="faqs-answer">
					<p>Yoggie: £29 per week for 5 smoothies (£5.80 per smoothie).
					Yoggie custom: £49 per week for 5 smoothies (£9.80 per smoothie). We will always keep ingredient quality tip top for max taste & nutrient levels. We bring prices down as we grow and can buy larger quantities of ingredients more cheaply.</p>
				</div>
			</div>
			<div class="faqs-right-content">
				<div class="faqs-question">
					<h4>What equipment do I need?</h4>
				</div>
				<div class="faqs-answer">
					<p><strong>1</strong> - A freezer.<br>
					<strong>2</strong> - A blender.<br>
					That’s it! Use a thermos flask if you want to take your smoothie with you and keep it ice cold.</p>
				</div>
			</div>
			<div class="faqs-right-content">
				<div class="faqs-question">
					<h4>What blender do you recommend?</h4>
				</div>
				<div class="faqs-answer">
					<p>We’ve burned out lots of blenders in our quest for the Ultimate Smoothie!<br>
					For most people we recommend at least a 1000 watt NutriBullet or equivalent with a min 750ml cup.<br>
					Serious smoothie blitzers and those on larger (>400kcal) custom yoggies should look at more substantial ones with  over 1 litre cups (such as Vitamix S30).</p>
				</div>
			</div>
			<div class="faqs-right-content">
				<div class="faqs-question">
					<h4>Fridge or freezer?</h4>
				</div>
				<div class="faqs-answer">
					<p>Store your yoggie packs in the freezer. They taste best blended straight from frozen. If you have to store them in the fridge they’ll be OK for up to 24 hours.<br>
					TIP: the ingredients will be pretty mushy when you empty into blender - try blending with a few ice cubes to get ice cold!</p>
				</div>
			</div>
			<div class="faqs-right-content">
				<div class="faqs-question">
					<h4>What is in the pack?</h4>
				</div>
				<div class="faqs-answer">
					<p>Just real, whole ingredients. 100% natural. No artificial colourings, sweeteners, flavourings etc. Nothing pre-blended. We just create the recipes and weigh the ingredients into the pack.</p>
				</div>
			</div>
			<div class="faqs-right-content">
				<div class="faqs-question">
					<h4>How long does it last in the freezer?</h4>
				</div>
				<div class="faqs-answer">
					<p>Just real, whole ingredients. 100% natural. No artificial colourings, sweeteners, flavourings etc. Nothing pre-blended. We just create the recipes and weigh the ingredients into the pack.</p>
				</div>
			</div> 	
			<div class="faqs-right-content">
				<div class="faqs-question">
					<h4>How long will my Yoggie last after I blend it? </h4>
				</div>
				<div class="faqs-answer">
					<p>If you don’t drink immediately just put in fridge or thermos flask/bottle and it’ll be good for around 6 hours. The layers will separate but that’s completely normal. Give it a good shake and you’re good to go.<br>
 					Bottled smoothies last longer because they are pasturised (removing many of the nutrients).
				</div>
			</div> 	
		</div>
	</div>
</div>
<br></br>

