<div class="banner">
	<div class="banner-content">
    <h1>Complete Smoothie Mixes</h1>
		<p>Tailored to you</p>
		<%= link_to "CREATE MY PERFECT SMOOTHIE", "#", class: 'btn-yoggie' %> 
  	</div>
</div>


