<%= render 'shared/navbar-main' %>
<div class="smoothie-banner"></div>
<div class="smoothie-wrapper">
	<div class="smoothie">
		<div class="standard-yoggie-main section-padding">
			<h2>Peachy Mangos</h2>
			<div class="standard-yoggie-main-content">
				<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1517227077/Peachy_Mangos_zpkava.png" %>
				<div class="standard-yoggie-main-details">
					<h4>Perfectly ripe peaches blitzed together with juicy mangos. <br></br>Peachy.</h4>
					<div class="smoothie-add-to-box"> <%= link_to "ADD TO BOX >", "#", class: 'btn-yoggie-main-green' %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="standard-yoggie-nutrition">
		<div class="nutrition-border section-padding">
			<div class="standard-yoggie-nutrition-top">
				<div class="standard-yoggie-nutrition-topleft">
					<h4>Includes:</h4>
					<p>
						<ul>✓ &nbsp; Mangos</ul>
						<ul>✓ &nbsp; Peaches</ul>
						<ul>✓ &nbsp; Spinach</ul>
						<ul>✓ &nbsp; Muesli</ul>
						<ul>✓ &nbsp; Vanilla Protein Balls</ul>
						<ul>✓ &nbsp; Flaxseed</ul>
						<ul>✓ &nbsp; Spirulina</ul>
						<ul>✓ &nbsp; Hazelnuts</ul>
					</p>
				</div>
				<div class="standard-yoggie-nutrition-right">
					<h4>Why It's Delicious:</h4>
					<p>We take peaches picked just at the right time and speed-frozen to lock in flavour and nutrients and combine with mango for deliciousness. We add our frozen spinach balls for added goodness plus hazelnuts for their monounsaturated good fats.</p>
				</div>
			</div>
			<div class="standard-yoggie-nutrition-bottom">
				<h4>Macro &nbsp; | &nbsp; Nutrition &nbsp; | &nbsp; Ingredients:</h4>
				<div class="macro">
					<div class="nutrition-bottom-left">
						<p>
							<ul>✓ &nbsp; Turbo Tasty</ul>
							<ul>✓ &nbsp; Real organic whole foods</ul>
							<ul>✓ &nbsp; Nutritionist Approved</ul>
							<ul>✓ &nbsp; Ready in 20 seconds</ul>
						</p>
					</div>
					<div class="nutrition-bottom-right">
						<p>
							<ul>✓ &nbsp; Turbo Tasty</ul>
							<ul>✓ &nbsp; Real organic whole foods</ul>
							<ul>✓ &nbsp; Nutritionist Approved</ul>
							<ul>✓ &nbsp; Ready in 20 seconds</ul>
						</p>
					</div>
				</div>
			</div>
			<br>
		</div>
	</div>
</div>


