<div class="smoothie-banner"></div>
<div class="smoothie-wrapper">
	<div class="smoothie">
		<div class="standard-yoggie-main section-padding">
			<h2>Peachy Mangos</h2>
			<div class="standard-yoggie-main-content">
				<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1517227077/Peachy_Mangos_zpkava.png" %>
				<div class="standard-yoggie-main-details">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta aut minima porro ipsum velit error eligendi illum aspernatur at, labore eius cumque. Voluptas, sint eos. Libero fugit recusandae voluptatibus similique.</p>
					<div class="smoothie-add-to-box"> <%= link_to "ADD TO BOX >", "#", class: 'btn-yoggie-main' %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="standard-yoggie-nutrition section-padding">
		<div class="standard-yoggie-nutrition-left">
			<p>Includes:</p>
			<p>
				<ul>✓ &nbsp; Turbo Tasty</ul>
				<ul>✓ &nbsp; Real organic whole foods</ul>
				<ul>✓ &nbsp; Nutritionist Approved</ul>
				<ul>✓ &nbsp; Ready in 20 seconds</ul>
			</p>
		</div>
		<div class="standard-yoggie-nutrition-right">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus inventore veniam nisi dignissimos nemo odit quis quae, officia aspernatur deleniti rem vel molestias doloremque molestiae cumque eius laboriosam quidem sed!</p>
		</div>
		<div class="standard-yoggie-nutrition-bottom">
			<p>Macro | Nutrition | Ingredients:</p>
			<p>
				<ul>✓ &nbsp; Turbo Tasty</ul>
				<ul>✓ &nbsp; Real organic whole foods</ul>
				<ul>✓ &nbsp; Nutritionist Approved</ul>
				<ul>✓ &nbsp; Ready in 20 seconds</ul>
			</p>
		</div>
	</div>
	<br>
	<div class="smoothies-page-checkout text-center">
		<p><%= link_to "CHECKOUT", "#", class: 'btn-yoggie-main' %></p>
	</div>
</div>


