<div style="padding-top:200px;"></div>
Customer Deets <br/>
Basket Deets <br/>
Address Deets <br/>
<%= form_tag customer_payments_path(@customer) do %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Weekly subscription"
          data-email="<%= @customer.user.email %>"
          data-amount="4900"
          data-currency="gbp"
          data-locale="auto"></script>
<% end %>
