/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  padding-top: 85px;
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $pink;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.alert-warning {
  background: $pink;
}
