.banner {
  background-image: url('https://res.cloudinary.com/dehjqm9b4/image/upload/v1567689260/Yoggie_background_new_ucw9v8.png');
  color: $grey;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-size: cover !important;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  // a {
  //   word-wrap: break-word;
  // }
}
.banner-content {
  background-color: white;
    background: rgba(255, 255, 255, 0.7);
    padding: 45px 42px 42px 42px;
    border-radius: 7px;
    width: auto;
    margin-left: 2vw;
    margin-top: 13vh;
    align-content: center;
    position: absolute;
    bottom: 10vh;
  h1 {
    font-size: 45px;
    font-weight: lighter;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    line-height: 54px;
  }
  p {
    font-weight: lighter;
    color: $dark-grey;
    margin-bottom: 36px;
    margin-top: 29px;
    font-size: 21px;
  }
  a {
    font-weight: lighter;
  }
}
.our-smoothies-banner {
  background-image: url('https://res.cloudinary.com/dehjqm9b4/image/upload/v1572020841/Yoggie-smoothies-banner_niwlmx_kvjhc1.jpg');
  text-align: center;
  height: 42vh;
  width: 100%;
  background-size: cover !important;
  position: relative;
  display: flex;
  align-items: center;
}
.blog-banner {
  background-image: url('https://res.cloudinary.com/dehjqm9b4/image/upload/v1572022161/Yoggie-smoothies-banner_niwlmx3_w1kzfr.jpg');
  text-align: center;
  height: 22vh;
  width: 100%;
  padding-top: 249px;
  background-size: cover !important;
  position: relative;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1000px){
  .banner {
    justify-content: center;
    height: 62vh;
  }
  .banner-content {
    margin-left: 0;
    padding: 45px 42px 42px 42px;
    width: 86%;
    height: 86%;
    margin: 0;
    margin-top: 165px;
  }

}

.banner-padding {
  padding-bottom: 50px;
}


