.btn-yoggie-landing {
    display: inline-block;
    font-weight: lighter;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 19px 23px;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.3);
    text-decoration: none;
    color: $dark-grey;
    background-color: white;
    border: $green 1px solid;
    letter-spacing: 1px;
}
.btn-yoggie-landing:hover {
    background-color: $green;
    color: white;
    text-decoration: none;
}
.btn-yoggie-main-green  {
    display: inline-block;
    font-weight: lighter;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.3);
    text-decoration: none;
    color: white;
    background-color: $green;
    letter-spacing: 1px;
    margin-top: 10px;
}
.btn-yoggie-main-green:hover {
    opacity: 0.9;
    text-decoration: none;
    color: white;
}
.btn-yoggie-main-clear {
    display: inline-block;
    font-weight: lighter;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.3);
    text-decoration: none;
    color: black;
    background-color: transparent;
    letter-spacing: 1px;
    margin-top: 10px;
    border: $green 1px solid;
}
.btn-yoggie-main-clear:hover {
    background-color: $green;
    color: white !important;
    text-decoration: none !important;
}
.btn-navbar-scroll {
    display: inline-block;
    font-weight: lighter;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 14px 14px;
    font-size: 12px;
    border-radius: 8px;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.3);
    text-decoration: none;
    color: $dark-grey;
    background-color: white;
    letter-spacing: 1px;
    border: $green 1px solid;
    position: absolute;
    right: 155px;
}
.btn-navbar-scroll:hover {
    text-decoration: none;
    background-color: $green;
    color: white;
}
.btn-yoggie-add {
    display: inline-block;
    font-weight: lighter;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 19px 23px;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.3);
    text-decoration: none;
    color: $dark-grey;
    background-color: white;
    border: $green 1px solid;
    letter-spacing: 1px;
    height: 60px;
}
.btn-yoggie-add:hover {
    background-color: $green;
    color: white;
    text-decoration: none;
}
@media only screen and (max-width: 1000px){
    .btn-yoggie-main-white {
        margin-top: 60px;
    }
}

.stripe-button {
  background-color: $pink;
}
