.section-padding {
	padding-left: 50px;
	padding-right: 50px;
}
.btn-default {
	margin-bottom: 15px;
}
.btn-default:hover {
	background-color: $green;
	color: white;
}
h1, h2, h3, h4 {
	font-weight: lighter;
	color: $dark-grey;
}
p {
	font-weight: lighter;
	color: $grey;
}
ul {
	color: $grey;
}
.login-pages {
	h2 {
		color: $pink;
	}
}