
.navbar-yoggie-main {
  background: white;  
  //background: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  z-index: 1000;
  position: fixed;
  width: 100%;
  box-shadow: 1px 1px 1px $box-shadow;
}
.navbar-yoggie-brand-main img {
  height: 47px;
  margin-top: 5px;
  margin-left: 17px;
}
.navbar-yoggie-social {
  position: absolute;
  right: 52px;
  margin-top: 2px;
  text-decoration: none;
  p {
    text-decoration: none;
    font-weight: lighter;
  }
  i {
    padding: 1px;
    color: $green;
    margin-right: 3px;
  }
  i:hover {
    padding: 1px;
    color: $red;
  }
  a:hover {
    text-decoration: none;
  }
}
.navbar-yoggie-login-main {
  position: absolute;
  right: 20px;
  margin-top: 2px;
  text-decoration: none;
  p {
    text-decoration: none;
    font-weight: lighter;
  }
  i {
    padding: 1px;
    color: $green;
    margin-right: 3px;
  }
  i:hover {
    padding: 1px;
    color: $red;
  }
  a:hover {
    text-decoration: none;
  }
}


