
.navbar-yoggie-main {
  background: white;  
  //background: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  z-index: 1000;
  position: fixed;
  width: 100%;
  box-shadow: 1px 1px 1px $box-shadow;
}
.navbar-yoggie-brand-main img {
  height: 47px;
  margin-top: 5px;
  margin-left: 17px;
}
/* Top login logout links */
.navbar-yoggie-top-nav {
  background: $green;
  height: 33px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1001;
  width: 100vw;
  max-width: 100%;
  //box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  i {
    padding: 1px;
    color: $green;
    margin-right: 3px;
  }
}
.top-nav-links {
  display: flex;
  flex-end: initial;
  justify-content: flex-end;
  flex-direction: row;
  padding-top: 5px;
  padding-right: 26px;
  a { 
    color: white;
    text-decoration: none;
    font-weight: lighter;
    letter-spacing: 0.25px;
    font-size: 14px;  
    padding-right: 10px;
  }
  a:hover {
    text-decoration: none;
    color: $pink;
  }
}
.top-nav-line {
  border-left: white solid 1px;
  padding: 0 5px;
}
.navbar-yoggie-login-main {
  position: absolute;
  right: 20px;
  margin-top: 2px;
  text-decoration: none;
  display: flex;
  p {
    text-decoration: none;
    font-weight: lighter;
  }
  i {
    padding: 1px;
    color: $green;
    margin-right: 3px;
  }
  i:hover {
    padding: 1px;
    color: $pink;
  }
  a:hover {
    text-decoration: none;
  }
}
.dropdown-main {
    right: 86px;
    top: 25px;
}
@media only screen and (max-width: 992px){
  .navbar-yoggie-social a {
    display: none;
  }
}

