/* Main navbar */
.navbar-yoggie {
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: transparent;
  transition: all 0.3s ease;
  height: 100px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  z-index: 1000;
  position: fixed;
  width: 100%;
}

/* Logo */
.navbar-yoggie-brand img {
  height: 50px;
  margin-left: 13px;
}

/* User Avatar */
.navbar-yoggie .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.navbar-yoggie-social {
  position: absolute;
  right: 50px;
  margin-top: 2px;
  i {
    padding: 1px;
    color: #97B564;
  }
}

/* Basic navbar item */
.navbar-yoggie-item {
  cursor: pointer;
  padding: 0 20px;
}
.main-nav {
  font-weight: lighter;
}
/* Navbar link */
.navbar-yoggie-link {
  color: #393939;
  font-size: 16px;
  text-decoration: none;
  padding-left: 40px;
}
.navbar-yoggie-link:hover {
  color: #FC0F42;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-yoggie-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-yoggie-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-yoggie-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-yoggie-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}


// on landing scroll only
.navbar-yoggie-scroll {
  background: white;  
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  z-index: 1000;
  position: fixed;
  width: 100%;
  box-shadow: 1px 1px 1px #D9D9D9;
}
.navbar-yoggie-brand-scroll img {
  height: 50px;
  margin-top: 5px;
  margin-left: 13px;
}



