/* Top login logout links */
.navbar-yoggie-top-nav {
  background: $green;
  height: 30px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1001;
  width: 100vw;
  max-width: 100%;
  //box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  i {
    padding: 1px;
    color: $green;
    margin-right: 3px;
  }
}
.top-nav-links {
  display: flex;
  flex-end: initial;
  justify-content: flex-end;
  flex-direction: row;
  padding-top: 5px;
  padding-right: 45px;
  a { 
    color: white;
    text-decoration: none;
    font-weight: lighter;
    letter-spacing: 0.25px;
    font-size: 14px;  
    padding-right: 10px;
  }
  a:hover {
    text-decoration: none;
    color: $pink;
  }
}
.top-nav-line {
  border-left: white solid 1px;
  padding: 0 5px;
}
/* Main navbar */
.navbar-yoggie {
  //box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: transparent;
  transition: all 0.3s ease;
  height: 160px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  z-index: 1000;
  position: fixed;
  width: 100%;
}

/* Logo */
.navbar-yoggie-brand img {
  height: 50px;
  margin-left: 13px;
}

/* User Avatar */
.navbar-yoggie .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.navbar-yoggie-social {
  position: absolute;
  right: 50px;
  margin-top: 2px;
  i {
    padding: 1px;
    color: $green;
    margin-right: 3px;
  }
  i:hover {
    text-decoration: none;
    color: $red;
  }
  a:hover {
    text-decoration: none;
  }
}

/* Basic navbar item */
.navbar-yoggie-item {
  cursor: pointer;
  padding: 0 20px;
}
.main-nav {
  font-weight: lighter;
}

/* Navbar link */
.navbar-yoggie-link {
  color: $dark-grey;
  font-size: 16px;
  text-decoration: none;
  padding-left: 40px;
  letter-spacing: 0.5px;
}
.navbar-yoggie-link:hover {
  color: $red;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-yoggie-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px $light-grey;
  border-color: $light-grey;
}
.navbar-yoggie-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: $grey !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-yoggie-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-yoggie-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid $light-grey;
  border-top: 1px solid $light-grey;
}

// on landing scroll only
.navbar-yoggie-scroll {
  background: white;  
  //background: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  z-index: 1000;
  position: fixed;
  width: 100%;
  box-shadow: 1px 1px 1px $box-shadow;
}
.navbar-yoggie-brand-scroll img {
  height: 47px;
  margin-top: 5px;
  margin-left: 17px;
}
.navbar-yoggie-social-scroll {
  position: absolute;
  right: 360px;
  margin-top: 2px;
  text-decoration: none;
  p {
    text-decoration: none;
    font-weight: lighter;
  }
  i {
    padding: 1px;
    color: $green;
    margin-right: 3px;
  }
  i:hover {
    padding: 1px;
    color: $red;
  }
  a:hover {
    text-decoration: none;
  }
}
.navbar-yoggie-login-scroll {
  position: absolute;
  right: 20px;
  margin-top: 2px;
  text-decoration: none;
  p {
    text-decoration: none;
    font-weight: lighter;
  }
  i {
    padding: 1px;
    color: $green;
    margin-right: 3px;
  }
  i:hover {
    padding: 1px;
    color: $red;
  }
  a:hover {
    text-decoration: none;
  }
}


