// Universal tabs classes for javascript functionality
.js-tabs-container {
  .js-tab {
    &.tab--active {
      color: purple;
    }
  }

  .js-tab-content {
    display: none;

    &.tab-content--active {
      display: block;
    }
  }
}

// Specific tabs styling for smoothie show
